* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin: 30px;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;
    position: relative;
}

[class^="col-"] {
    padding:20px;
    float: left;
}

.menu-item {
    background-color: rgba(151, 147, 147, 0.842);
    border: 1px solid black;
}

[class^="label-"] {
    float: right; 
    font-size: larger; 
    text-align:center; 
    font-weight: 600; 
    width: 150px; 
    border-left: 1px solid black; 
    border-bottom: 1px solid black;
}

.label-1 {
    background-color: rgba(211, 128, 156, 0.774); 
}

.label-2 {
    background-color: rgb(134, 212, 186); 
}

.label-3 {
    background-color: antiquewhite; 
}

.item-info {
    padding: 10px;
    font-size: 17px;
}

@media (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

@media (min-width: 768px) and (max-width: 991px) { 
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media (max-width: 767px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
